.order-list-container {
    max-width: 1400px;
    width: 100%;
    height: auto;
    position: relative;
    background-color: white;
}

.order-list-nodata {
    max-width: 1400px;
    width: 100%;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.order-list-nodata-img {
    width: 100px;
    height: 100px;
}

.order-list-nodata-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 600;
}