/*Mobile Display*/
@media screen and (max-width: 481px) {
    .menu-banner {
        height: 100px;
    }
    .menu-banner-container {
        margin: 40px;
    }
    .menu-banner-title {
        font-size: 20px;
    }
    .menu-banner-btn {
        width: 75px;
        height: 25px;
        font-size: 8px;
    }
    .menu-food-title-container {
        padding-left: 30px;
    }
    .menu-food-title {
        font-size: 25px;
    }
    .menu-list-container {
        margin: 10px;
        gap: 20px;
    }
}

@media screen and (max-width: 391px) {
    .menu-list-container {
        margin: 20px;
        gap: 20px;
    }
}